.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 10000;
}

.modal {
   background-color: var(--color-bg);
   padding: 2rem;
   border-radius: 8px;
   max-width: 320px;
   width: 90%;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   color: var(--color-white);
   text-align: center;
}

.buttons {
   margin-top: 1.5rem;
   display: flex;
   justify-content: space-around;
}

.confirmBtn {
   background-color: var(--color-primary);
   border: none;
   color: white;
   padding: 0.5rem 1.2rem;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
}

.cancelBtn {
   background-color: #444;
   border: none;
   color: white;
   padding: 0.5rem 1.2rem;
   border-radius: 5px;
   cursor: pointer;
}