.adminContainer {
   display: flex;
   height: 100vh;
   background-color: var(--color-bg);
   color: var(--color-white);
   font-family: var(--font-family);
}

.contentContainer {
   flex: 1;
   padding: 2rem;
   overflow-y: auto;
   background-color: #222;
}